@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

:root {
  --main-white: #fff;
  --main-red: #CC0000;
  --main-grey: #5f5f5f;
  --main-text-grey: #333333;
  --main-light-grey: #cdcdcd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body, html {
  width: 100%;
}

#root {
  width: 100%;
  min-height: 100vh;
}

#navbar {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  padding: 0 25px;
  position: fixed;
  z-index: 10;
  background-color: var(--main-white);
}
#title-container {
  display: flex;
  align-items: end;
}
#logo {
  width: 24px;
}
#navbar h3 {
  color: var(--main-red);
  font-size: 18px;
}
#input-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1250px;
  margin-left: 15px;
  padding: 0 10px;
  border: 2px solid var(--main-light-grey);
  border-radius: 30px;
}
#input-clear-icon {
  cursor: pointer;
  border-radius: 50%;
}
#input-clear-icon:hover {
  background-color: var(--main-light-grey);
}
#navbar input {
  width: 100%;
  border: none;
  color: var(--main-text-grey);
  padding: 15px 12px;
  outline: none;
  font-size: 16px;
  background-color: transparent;
}
#searchText {
  position: absolute;
  top: 85px;
  text-align: center;
  width: 100%;
  color: var(--main-grey);
  z-index: 2;
}
#overlay {
  position: fixed;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 5;
}
#image-container {
  min-height: 95vh;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 236px);
  grid-auto-rows: 10px;
  gap: 0.6px 15px;
  padding: 100px 20px 25px 20px;
  background-color: var(--main-white);
}
.image-div {
  width: 236px;
}
.image-div img {
  width: 100%;
  border-radius: 15px;
  cursor: pointer;
}
footer {
  width: 100%;
  text-align: center;
  padding-bottom: 15px;
}