/* Toivo Lindholm */
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz@10..48&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bricolage Grotesque', sans-serif;
}

body, html {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quiz-app {
    width: 100%;
    max-width: 400px;
    min-height: 525px;
    margin-top: 60px;
    margin-bottom: 25px;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 0 10px black;
    background-color: #EDE4FF;
}
.app-title {
    text-align: center;
    border-bottom: 2px solid black;
}
.start {
    height: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 125px;
}
.start.active {
    display: flex;
}
.start h3 {
    margin-bottom: 30px;
}
button {
    border: none;
    background-color: #8c5ef8;
    font-size: 16px;
    font-weight: 600;
    padding: 15px 50px;
    border-radius: 20px;
    border: 2px solid black;
    cursor: pointer;
    color: #fff;
}
button:hover {
    background-color: #6528F7;
}

.game {
    height: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    position: relative;
}
#question-count {
    position: absolute;
    top: 0;
    right: 5px;
}
.game.active {
    display: flex;
}
.band-picture {
    width: 80%;
    min-height: 150px;
    margin-top: 30px;
    margin-bottom: 5px;
}
.band-picture img {
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 0 5px black;
}
.answers {
    width: 100%;
    min-height: 160px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}
.answer {
    width: 125px;
    height: 68px;
    padding: 15px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 0 0 5px black;
    background-color: #8c5ef8;
    color: #fff;
}
.answer:hover {
    background-color: #6528F7;
}
.result {
    width: 100%;
    height: 90%;
    display: none;
    flex-direction: column;
    align-items: center;
}
.result.active {
    display: flex;
}
.result h1 {
    margin-top: 50px;
    margin-bottom: 25px;
}
footer {
    text-align: center;
}