@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'VT323', monospace;
}
a {
    color: #3B4CCA;
}
a:hover {
    color: #8592f1;
}
#pokedex-logo {
    width: 350px;
    height: auto;
}
.main-div {
    width: 95%;
    max-width: 565px;
    height: 450px;
    margin-top: 50px;
    display: flex;
    align-items: end;
}

/* Pokemon info */
.pokemon-info {
    width: 50%;
    height: 100%;
    padding-top: 80px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px 10px 0 10px;
    border: 2px solid black;
    background: linear-gradient(145deg,#ff0745, #dd0719);
    box-shadow: 0 0 10px black;
    position: relative;
}

/* Pokedex valot */
#pokedex-big-light {
    width: 50px;
    height: 50px;
    background-color: rgb(74, 107, 253);
    position: absolute;
    top: 10px;
    left: 25px;
    border-radius: 50%;
    border: 5px solid white;
    box-shadow: 0px 0px 12px black;
    transition: background-color 0.2s ease-in-out;
}
#pokedex-light-1 {
    width: 10px;
    height: 10px;
    position: absolute;
    top: 10px;
    left: 90px;
    border-radius: 50%;
    box-shadow: 0px 0px 5px black;
    background-color: rgb(255, 0, 21);
    border: 1px solid black;
}
#pokedex-light-2 {
    width: 10px;
    height: 10px;
    position: absolute;
    top: 10px;
    left: 110px;
    border-radius: 50%;
    box-shadow: 0px 0px 5px black;
    background-color: rgb(255, 217, 0);
    border: 1px solid black;
}
#pokedex-light-3 {
    width: 10px;
    height: 10px;
    position: absolute;
    top: 10px;
    left: 130px;
    border-radius: 50%;
    box-shadow: 0px 0px 5px black;
    background-color: rgb(53, 131, 1);
    border: 1px solid black;
}

.pokemon-info p {
    font-size: 20px;
}
.pokemon-info h2 {
    font-size: 28px;
}
#pokemon-info-num {
    font-size: 24px;
}
.pokemon-info h3 {
    font-size: 20px;
}
.pokemon-info-img {
    width: 100%;
    max-width: 200px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}
.pokemon-info-img img {
    width: 150px;
    height: auto;
}
#pokemon-info-name-num {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 5px;
}
.pokemon-info-about {
    width: 100%;
    max-width: 225px;
    margin-top: 10px;
    border: 2px solid black;
    padding: 2px 10px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.692);
}
.pokemon-info-about h2 {
    display: flex;
}
.pokemon-info-types {
    display: flex;
}
.pokemon-type {
    border-radius: 10px;
    padding: 0 10px;
    margin-right: 5px;
    border: 1px solid black;
    background-color: white;
}
.pokemon-info-height-weight {
    display: flex;
    justify-content: space-between;
}
.pokemon-info-stats {
    margin-top: 15px;
    margin-bottom: 5px;
}


/* Pokemon lista */
.pokemon-list-container {
    width: 50%;
    height: 85%;
    padding: 5px;
    background: linear-gradient(-160deg,#ff0745, #dd0719);
    box-shadow: 0 0 10px black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    border-radius: 0 10px 10px 0;
}
.pokemon-list {
    width: 100%;
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    align-content: flex-start;
    flex-wrap: wrap;
    overflow-y: scroll;
    padding: 15px;
}
.pokemon-list-item {
    width: 100px;
    height: 100px;
    margin: 5px 5px 5px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    background-color: white;
    border: 1px solid black;
    position: relative;
}
.pokemon-list-item:hover {
    box-shadow: 0 0 10px black;
    cursor: pointer;
}
.pokemon-list-item img {
    width: 86px;
    height: auto;
}
.pokemon-list-item .pokemon-name {
    position: absolute;
    top: 80px;
}
.pokemon-number {
    font-weight: 600;
    position: absolute;
    right: 10px;
    top: 6px;
}

/* Footer */
footer {
    text-align: center;
    margin-top: 50px;
}