@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body, html {
    background-color: #dddddd;
}

.card {
    width: 90%;
    max-width: 470px;
    min-height: 597px;
    background: linear-gradient(180deg, #4586ff, #7bdaff);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
    box-shadow: 0 0 15px grey;
}
.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input {
    width: 80%;
    height: 60px;
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.690);
}
.search div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.search button {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.690);
}
.search button:hover {
    border: 1px solid #4586ff;
}
.search button img {
    width: 16px;
}
.weather {
    display: none;
}
.weather-icon {
    width: 170px;
    margin-top: 30px;
}
.weather-city-name {
    display: flex;
    align-items: center;
    justify-content: center;
}
.location-icon {
    font-size: 32px;
}
.weather h1 {
    font-size: 80px;
}
.weather h2 {
    font-size: 45px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 16px;
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 20px;
    margin-top: 50px;
}
.col {
    display: flex;
    align-items: center;
    text-align: left;
}
.col img {
    width: 40px;
    margin-right: 10px;
}
.humidity, .wind {
    font-size: 28px;
    margin-top: -5px;
}
.error {
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    display: none;
}

@media only screen and (max-width: 600px) {
    .card {
        padding: 40px 15px;
    }
    .details {
        justify-content: center;
        margin-top: 25px;
    }
    .col {
        padding: 5px 0;
        width: 100%;
        justify-content: center;
        align-items: start;
    }
    .search input {
        font-size: 16px;
    }
    .weather-icon {
        width: 150px;
        margin-top: 20px;
    }
    .weather h1 {
        font-size: 70px;
    }
    .weather h2 {
        font-size: 35px;
    }
    .location-icon {
        font-size: 24px;
    }
    .humidity, .wind {
        font-size: 22px;
    }
}