/* Toivo Lindholm 2023 */

.contact-container {
    min-height: 60vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--light-grey-bg);
}
.contact-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-content a {
    font-size: 42px;
    font-weight: 600;
    color: var(--main-black);
    text-decoration: underline;
}
.contact-content h1 {
    font-size: 42px;
}
.contact-content h3 {
    font-size: 20px;
}
.contact-content a:hover {
    color: var(--light-purple);
}
.contact-content i {
    font-size: 3em;
}
.contact-email-inner {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.contact-email-inner div {
    padding: 0 10px;
}
.contact-inner {
    display: flex;
    align-items: center;
}
.contact-inner div {
    padding: 0 10px;
}