/* Toivo Lindholm 2023 */

/* Fontit */
/* @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@300;400&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --main-white: #fff;
    --main-black: #000;
    --main-grey: #808080;
    --light-grey-bg: #f7f7f7;
    --light-purple: #a8abf3;
}

/* Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body, html {
    width: 100%;
    background-color: var(--main-white);
    font-family: 'Poppins', sans-serif;
}
a {
    color: var(--main-black);
    text-decoration: none;
}
a:hover {
    color: var(--light-purple);
}
ul {
    list-style: none;
}
p {
    font-size: 16px;
}


/* Nav */
.main-nav {
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    z-index: 500;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* box-shadow: 0px 0px 10px black; */
    /* background-color: #a8abf3; */
    box-shadow: 0 0 15px rgba(128, 128, 128, 0.781);
    background-color: var(--main-white);
}
.main-nav a {
    color: var(--main-black);
    font-weight: 600;
}
.main-nav ul a:hover {
    color: var(--light-purple);
}
.main-nav ul {
    display: flex;
}
.main-nav li {
    margin: 0px 15px;
}
/* Navbar-responsive */
.main-nav-res {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1000;
    display: flex;
    justify-content: center;
    padding-top: 200px;
    background-color: var(--main-white);
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: 0.2s ease-in-out;
}
.nav-toggle-on {
    position: fixed;
    top: 26px;
    right: 25px;
    z-index: 500;
    visibility: hidden;
    cursor: pointer;
}
.main-nav-res li {
    padding: 5px 0;
}
.main-nav-res a {
    color: var(--main-black);
    font-size: 26px;
}
.nav-toggle-off {
    position: absolute;
    top: 36px;
    right: 25px;
    cursor: pointer;
}
.main-nav-res-active {
    width: 100%;
    visibility: visible;
    opacity: 1;
    transition: 0.1 ease-in-out;
}


/* Content */
.section-title {
    width: 100%;
    max-width: 800px;
    padding-left: 15px;
    text-align: left;
}
.introduction-container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--light-grey-bg);
}
.introduction-about {
    display: flex;
    justify-content: center;
    align-items: center;
}
.introduction-content {
    max-width: 800px;
    padding: 15px 15px;
}
.introduction-content img {
    width: 100%;
    max-width: 280px;
    height: auto;
    border-radius: 50%;
    border: 1.5px solid var(--light-purple);
    box-shadow: 0px 0px 8px #000;
}
.introduction-content .top {
    display: flex;
    align-items: center;
}
.introduction-content .top div {
    width: 50%;
}
.intro-text h1 {
    font-size: 52px;
    font-weight: 900;
    line-height: 1.2;
    padding-bottom: 10px;
    border-bottom: 1px dashed var(--main-black);
}
.intro-text p {
    color: var(--main-grey);
    font-size: 18px;
    padding-top: 10px;
}
.intro-img {
    text-align: center;
}
.introduction-content .bottom {
    margin-top: 15px;
    padding: 15px 15px;
}
.introduction-skills-outer {
    width: 100%;
    max-width: 800px;
    display: flex;
    justify-content: start;
}
.introduction-skills {
    max-width: 500px;
    display: flex;
    justify-content: start;
    margin-top: 25px;
}
.intro-skills {
    display: flex;
}
.intro-skills-text {
    display: flex;
    align-items: center;
    padding-right: 25px;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 25px;
    font-weight: 600;
    border-right: 1px solid var(--main-black);
}
.intro-skills-icons a {
    color: #000;
}
.intro-skills-icons a:hover {
    color: var(--light-purple);
}
.intro-skills-icons {
    display: flex;
    align-items: center;
}
.intro-skills-icons div {
    padding: 0 10px;
    text-align: center;
    display: flex;
    align-items: center;
}
.intro-skills-icons img {
    width: 35px;
    height: auto;
}
.intro-skills-icons img:hover {
    cursor: pointer;
}
.about-container {
    min-height: 60vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-content {
    max-width: 800px;
    margin-bottom: 50px;
    padding: 0 15px;
}
.about-content h2 {
    margin-bottom: 5px;
}
.about-content p {
    font-size: 18px;
}
.about-content a {
    text-decoration: underline;
}


/* Footer */
footer {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
}
.footer-content {
    width: 1200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    /* border-top: 1px solid var(--main-black); */
}
footer div {
    padding: 10px 10px;
}
footer a {
    color: var(--main-black);
    margin: 0px 8px;
}
footer a:hover i {
    color: var(--light-purple);
}