/* Toivo Lindholm 2025 */

.project-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px 0;
}
#projects {
    scroll-margin-top: 75px;
}
.project-content {
    width: 100%;
    max-width: 800px;
    display: flex;
    margin: 25px 0;
}
.project-content-inner {
    width: 50%;
    max-width: 525px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 15px;
}
.project-content-inner h2 {
    padding-top: 15px;
    margin-bottom: 5px;
}
.project-about {
    color: var(--main-grey);
}
.project-img-div, .slider {
    position: relative;
    display: flex;
    justify-content: end;
}
.project-img-div:hover .slider-arrow {
    opacity: 1;
}
.project-img {
    width: 100%;
    max-width: 365px;
    height: auto;
    border: 2px solid var(--light-purple);
    border-radius: 15px;
    box-shadow: 0px 0px 8px #000;
}
.slider-img {
    display: none;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}
.slider-img.active {
    display: block;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
}
.project-tech-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 5px 10px;
}
.project-tech-list h4 {
    padding: 0 2.5px;
}
.project-code {
    display: flex;
    justify-content: center;
}
.project-code a {
    color: #000;
    padding: 0 5px;
}
.project-code a:hover {
    color: var(--light-purple);
}
#projects-introduction-text {
    width: 100%;
    max-width: 800px;
    padding-left: 15px;
    text-align: left;
    margin-top: 10px;
    font-size: 18px;
}
#more-projects-text {
    text-decoration: underline;
}