/* Toivo Lindholm 2025 */

/* Näytön leveys on alle 600px */
@media only screen and (max-width: 600px) {
    
    /* Skills */
    .skills-container {
        padding-top: 25px;
    }
    .content-inner {
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    .skill-names-inner {
        border-left: none;
        padding: 0;
    }
    .skill-title {
        justify-content: center;
    }
    .skills-inner {
        width: 100%;
        margin-bottom: 10px;
    }
    .skill-names-inner div {
        width: 95px;
        height: 95px;
    }
    .skill-names-inner p {
        font-size: 12px;
    }

    
    /* Projects */
    .project-content-inner {
        width: 100%!important;
    }
    .project-img-div, .slider {
        text-align: center!important;
    }
    .slider {
        display: flex;
        justify-content: center;
    }

    /* Contact */
    .contact-content a, .contact-content h1 {
        font-size: 24px!important;
    }
    .contact-content h3 {
        font-size: 14px!important;
    }
    .contact-content {
        padding: 0 5px;
        word-break: break-all;
    }
    .contact-content i {
        font-size: 2em!important;
    }
    
}

/* Näytön leveys on alle 768px */
@media only screen and (max-width: 768px){
    .introduction-container {
        padding-top: 80px;
    }
    .introduction-content {
        max-width: 500px;
    }
    .introduction-content .top {
        flex-direction: column-reverse;
        text-align: center;
    }
    .introduction-content .top div {
        width: 100%;
    }
    .introduction-content img {
        max-width: 250px;
    }
    .introduction-skills {
        justify-content: center;
        margin-bottom: 15px;
    }
    .intro-text h1 {
        font-size: 42px;
    }
    .intro-skills-text {
        width: 90%;
        justify-content: center;
    }
    .intro-text p {
        font-size: 16px;
    }
    .introduction-skills-outer {
        justify-content: center;
    }
    .intro-skills-text {
        text-align: center;
        border-right: none;
        border-bottom: 1px solid black;
        padding: 0;
        padding-bottom: 5px;
        margin-right: 0;
        margin-bottom: 15px;
    }
    .intro-skills {
        flex-direction: column;
        align-items: center;
    }
    .intro-skills-icons {
        justify-content: center;
        flex-wrap: wrap;
    }
    .intro-skills-icons div {
        padding: 5px 10px;
    }
    .about-container {
        padding-top: 50px;
    }
    .about-content h2 {
        font-size: 20px;
        margin-bottom: 5px;
    }
    .about-content p {
        font-size: 16px;
        /* color: grey; */
    }
    
    
    /* Skills */
    .content-inner h1 {
        font-size: 32px;
    }
    .content-inner h4 {
        font-size: 16px;
    }
}
@media only screen and (max-width: 865px){
    /* Nav */
    .main-nav ul {
        visibility: hidden;
    }
    .nav-toggle-on {
        visibility: visible;
    }
}
@media only screen and (max-width: 965px){
    /* Projects */
    .project-content {
        flex-direction: column;
        align-items: center;
    }
    .project-img-div, .slider {
        justify-content: center!important;
    }
    .project-content-inner {
        text-align: center;
        width: 75%;
    }
    
}

/* Näytön leveys on alle 1200px */
@media only screen and (max-width: 1200px){
    /* Nav */
    .main-nav {
        justify-content: space-between;
        padding: 0 25px;
    }

    /* Projects */
    .project-img {
        max-width: 325px;
    }
}