/* Toivo Lindholm 2025 */

.skills-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--light-grey-bg);
}
#skills {
    scroll-margin-top: 90px;
}
.skills-content {
    max-width: 800px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 15px 15px;
}
.content-inner {
    margin: 5px 5px;
    display: flex;
    flex-direction: column;
}
#skills-tech {
    border-bottom: 1px solid var(--main-black);
}
.content-inner h1 {
    font-size: 40px;
    /* border-bottom: 4px dotted var(--light-purple); */
}
.content-inner h4 {
    font-size: 18px;
}
.skills-inner {
    width: 100%;
    margin-bottom: 25px;
}
.skill-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.skill-names {
    width: 100%;
}
.skill-names-inner {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    /* border-left: 1px solid var(--main-black); */
}
.skill-names-inner div {
    width: 110px;
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    text-align: center;
    margin: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    background-color: var(--main-white);
    box-shadow: 0 0 10px rgba(128, 128, 128, 0.781);
    transition: box-shadow 0.1s ease-in-out;
    cursor: pointer;
}
.skill-names-inner div:hover {
    box-shadow: 0 0 25px rgba(128, 128, 128, 0.781);
}
.skill-names-inner img {
    width: 40%;
}
.skill-names-inner p {
    margin-top: 10px;
    font-weight: 800;
    font-size: 14px;
}
#skills-extra-text {
    margin: 10px 0;
    text-align: center;
}