* {
    margin: 0%;
    padding: 0%;
}

html, body {
    width: 100%;
    height: 100%;
}
/* Navbar */
nav {
    width: 100%;
    margin-bottom: 2%;
}
#nav-search-item {
    width: 50%;
}
.nav-search {
    width: 100%;
}
.nav-item-right {
    float: right;
}
#nav-site-title {
    margin-top: 0.5px;
    margin-right: 1.5%;
}
/* Dropdown */
.dropdown {
    position: relative;
    z-index: 1000;
}
.dropdown ul {
    width: 100px;
    position: absolute;
    background-color: rgba(236, 236, 236, 0.562);
    padding: 0%;
    display: flex;
    align-items: left;
    flex-direction: column;
    border-radius: 3.5%;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease;
    overflow: hidden;
    box-shadow: 0px 0px 4px black;
}
.dropdown li {
    width: 100%;
    height: 100%;
    padding: 0%;
    display: flex;
    align-items: left;
}
.dropdown li:hover {
    background-color: rgba(179, 179, 179, 0.562);
}
.dropdown-button:focus + ul{
    opacity: 1;
    visibility: visible;
}
.dropdown-button {
    border: none;
    background: none;
    display: flex;
    align-items: center;
}
.navbar-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
}
.dropdown-link-a {
    width: 100%;
    height: 100%;
    padding: 6%;
}

a {
    text-decoration: none;
}
ul {
    width: 100%;
    margin: 0%;
    padding-left: 3.5%;
    padding-right: 3.5%;
}
li {
    display: inline;
    float: left;
    padding: 10px 5px;
}

.main-div {
    height: auto;
    min-height: 100%;
}
.wrapper {
    height: 100%;
    width: 100%;
}

/* Gallery images */
.gallery-container {
    width: 100%;
    height: 100%;
    margin: auto;
}
.gallery-img-div {
    max-width: 210px;
    min-width: 210px;
    max-height: 320px;
    min-height: 320px;
    padding: 0.2%;
    margin: 0.5%;
}
.gallery-img-div p {
    font-size: 12px;
}
.gallery-img-div-inner {
    width: 100%;
    height: 85%;
}
.gallery-img {
    width: 100%;
    height: 100%;
    object-position: top;
    object-fit: cover;
}
/* Img hover */
.gallery-img-div-inner:hover .gallery-img {
    filter: brightness(40%);
}
.gallery-img-div-inner:hover .hover-text {
    opacity: 1;
}
.hover-text {
    position: relative;
    text-align: center;
    top: -55%;
    opacity: 0;
    color: rgba(255, 255, 255, 0.945);
} 
.desc {
    padding: 5px;
    text-align: left;
}
footer {
    width: 100%;
    height: 5%;
}
#footer-div {
    text-align: center;
}
#no-results-div {
    text-align: center;
    width: 100%;
}

/* Upload form */
.gallery-upload {
    text-align: center;
    width: 80%;
    max-width: 400px;
    height: auto;
    margin: auto;
    padding: 1%;
    border-radius: 6%;
    background-color: rgba(236, 236, 236, 0.562);
    box-shadow: 0px 0px 8px black;
}
.success {
    color: rgba(0, 189, 0, 0.753);
}


/* Images */
.uploaded-img {
    border-radius: 6%;
}
.userimg {
    width: 8%;
    min-width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
}

/* Login sivu */
.login-div {
    width: 75%;
    max-width: 400px;
    min-height: 400px;
    height: auto;
    margin: auto;
    margin-top: 5%;
    text-align: center;
    padding: 1%;
    border-radius: 6%;
    background-color: rgba(236, 236, 236, 0.562);
    box-shadow: 0px 0px 8px black;
}
.login-form-field {
    width: 70%;
    margin: auto;
}
.login-button {
    margin-top: 5%;
}
.error {
    color: rgba(255, 0, 0, 0.726);
}

/* Single */
.single-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
}
.single-div {
    width: 50%;
    height: 480px;
    margin-left: 1.5%;
    padding-top: 50px;
}
.single-div-img {
    text-align: right;
    height: 480px;
    width: 50%;
}
.single-img {
    width: 100%;
    height: 100%;
    max-width: 380px;
    object-position: top;
    object-fit: cover;
}
#single-user-link {
    color: black;
}

/* User info */
.user-info-div {
    width: 100%;
    height: 100%;
    text-align: center;
}
.user-info-profile-picture-div {
    width: 150px;
    height: 150px;
    margin: auto;
}
.user-info-profile-image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
}
.user-profile-image-desc {
    padding-top: 2px;
    text-align: left;
}
.info-div {
    width: 75%;
    max-width: 425px;
    height: auto;
    margin: auto;
}
.user-info-text {
    font-size: 12px;
}

/* Edit profile */
.edit-profile-div {
    width: 100%;
    height: 100%;
    text-align: center;
}
.edit-profile-form-field {
    width: 75%;
    max-width: 400px;
    margin: auto;
}
.edit-profile-img-div {
    height: 150px;
    width: 150px;
    margin: auto;
}

/* Edit image */
.edit-image-form-div {
    text-align: left;
    width: 70%;
}
.edit-image-form-field {
    margin: 0.5%;
}


/* Responsive */
@media screen and (max-width: 766px) {
    .single-div {
        width: 35%;
    }
    .single-div-img {
        width: 65%;
    }
}
@media screen and (max-width: 515px) {
    .single-div {
        width: 100%;
        height: 50%;
        margin-left: 0%;
        padding-top: 5px;
    }
    .single-div-img {
        text-align: center;
        width: 100%;
    }
    .single-container {
        flex-direction: column;
    }
}
@media screen and (max-width: 389px){
    #nav-site-title {
        margin-top: 0px;
        margin-right: 1.5%;
    }
    #site-title {
        font-size: 30px;
    }
    #nav-search-item {
        width: 100%;
    }
}