/* Toivo Lindholm 2023 */
@import "responsive.css";
/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@font-face {
    font-family: Metropolis;
    src: url(../fonts/Metropolis-SemiBold.otf);
}
:root {
    --background-base: #121212;
    --background-highlight: #1a1a1a;
    --darker-grey: #242424;
    --main-white: #fff;
    --light-grey: #b3b3b3;
    --light-grey2: #b3b3b386;
}
::-webkit-scrollbar {
    width: 12px;
    background-color: #000;
}
::-webkit-scrollbar-thumb {
    border-top: 135px solid #b3b3b39a;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body, html {
    width: 100%;
    background-color: #000;
}
p {
    font-size: 14px;
    color: var(--light-grey);
}
h1, h2, h3 {
    color: var(--main-white);
}


/* Main */
.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}
.music-app {
    width: 100%;
    max-width: 1200px;
    height: 100%;
    border-radius: 15px;
    display: flex;
}
.sidebar {
    width: 80px;
    height: 100vh-;
    margin: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    background-color: var(--background-base);
}
.sidebar svg {
    width: 38px;
    cursor: pointer;
}
.sidebar svg path {
    transition: fill 0.1s ease-in-out;
}
.sidebar svg:hover path {
    fill: var(--main-white);
}
.main {
    width: 100%;
    margin: 10px 10px 10px 0;
    border-radius: 5px;
    background-color: var(--background-base);
    overflow: auto;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

/* Search */
.search {
    width: 100%;
    min-height: 100%;
    padding: 0 20px 35px 20px;
    display: none;
    background-color: var(--background-base);
}
.search.active {
    display: block;
}
.search-navbar {
    position: sticky;
    top: 0;
    height: 65px;
    z-index: 10;
    display: flex;
    align-items: center;
    background-color: var(--background-base);
}
/* Input */
.input-container {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 325px;
    border-radius: 25px;
    background-color: var(--darker-grey);
}
.input-container:hover {
    outline: 2px solid var(--light-grey2);
}
.input-container input {
    width: 80%;
    outline: none;
    border: none;
    background-color: transparent;
    padding: 0 5px;
    color: var(--main-white);
}
.input-container svg {
    width: 24px;
}
#search-info {
    text-align: center;
    padding-top: 70px;
    display: none;
}
#search-info.show {
    display: block;
}
/* Track results */
.search-track-results {
    width: 100%;
    display: none;
    flex-direction: row;
    justify-content: start;
}
.search-track-results.show {
    display: flex;
}
.search-track-results p {
    color: var(--light-grey);
    font-size: 14px;
}
.search-track-results h1, .search-track-results h2 {
    color: var(--main-white);
}
.best-track-result {
    width: 100%;
    max-width: 460px;
    margin-right: 10px;
}
.best-track-result h2 {
    margin-bottom: 25px;
}
.best-track-result-inner {
    width: 100%;
    padding: 20px;
    min-height: 235px;
    border-radius: 5px;
    background-color: var(--background-highlight);
    cursor: pointer;
    transition: background-color 0.1s ease-in-out;
}
.best-track-result-inner:hover {
    background-color: var(--darker-grey);
}
.best-track-result-inner  img {
    width: 100px;
    border-radius: 5px;
}
.best-track-result-inner h1, h2 {
    color: var(--main-white);
    margin: 15px 0;
}
#best-track-name {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.best-track-result-inner p {
    color: var(--light-grey);
    font-size: 14px;
}
.track-results {
    width: 100%;
}
.track-results h2 {
    margin-bottom: 10px;
}
.track-results-inner {
    width: 100%;
    min-height: 225px;
    display: flex;
    padding: 10px;
    flex-direction: column;
}
.track-result {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    padding: 10px;
    min-width: 0;
}
.track-result:hover {
    background-color: var(--darker-grey);
}
.track-result-left {
    display: flex;
    align-items: center;
    min-width: 0;
}
.track-result img {
    width: 42px;
    margin-right: 10px;
}
.track-result-name-and-artist {
    display: flex;
    flex-direction: column;
    min-width: 0;
}
.track-result-name-and-artist .track-name {
    margin-bottom: 4px;
    max-width: 250px;
}
.track-name {
    color: var(--main-white)!important;
    font-size: 16px;
    flex-direction: column;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    min-width: 0;
    cursor: pointer;
}
.track-name:hover {
    text-decoration: underline;
}
.artist-link {
    width: fit-content;
}
.artist-link {
    cursor: pointer;
}
.artist-link:hover {
    color: var(--main-white);
    text-decoration: underline;
}

/* Artist results */
.search-artist-results {
    width: 100%;
    margin-top: 45px;
    display: none;
}
.search-artist-results.show {
    display: block;
}
.search-artist-results p {
    color: var(--light-grey);
    font-size: 14px;
}
.search-artist-results h1, .search-artist-results h2 {
    color: var(--main-white);
}
.search-artist-results-inner {
    height: 235px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
    min-width: 0;
}
.search-artist-result {
    width: 170px;
    height: 235px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 15px;
    border-radius: 5px;
    background-color: var(--background-highlight);
    min-width: 0;
    transition: background-color 0.1s ease-in-out;
    cursor: pointer;
    margin-right: 25px;
}
.search-artist-result:hover {
    background-color: var(--darker-grey);
}
.search-artist-result img {
    width: 140px;
    border-radius: 50%;
}
.search-artist-result p {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    word-break: break-all;
}
.search-result-artist-name {
    color: var(--main-white)!important;
    font-weight: 600;
    font-size: 16px!important;
    flex-direction: column;
    min-width: 0;
    margin: 10px 0;
}

/* Album results */
.search-album-results {
    margin-top: 45px;
    display: none;
}
.search-album-results.show {
    display: block;
}
.search-album-results p {
    color: var(--light-grey);
    font-size: 14px;
}
.search-album-results-inner {
    height: 235px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
    min-width: 0;
}
.search-album-result {
    width: 170px;
    height: 235px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 5px;
    background-color: var(--background-highlight);
    min-width: 0;
    transition: background-color 0.1s ease-in-out;
    cursor: pointer;
    margin-right: 25px;
}
.search-album-result:hover {
    background-color: var(--darker-grey);
}
.search-album-result img {
    width: 140px;
    border-radius: 5px;
}
.search-album-result p {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    word-break: break-all;
} 
.search-result-album-name {
    color: var(--main-white)!important;
    font-size: 16px!important;
    font-weight: 600;
    margin: 10px 0;
}

/* Artist */
.main.nopad {
    padding: 0;
}
.artist {
    width: 100%;
    min-height: 100%;
    display: none;
}
.artist.active {
    display: block;
}
.artist-top {
    width: 100%;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 25px 20px;
}
.artist-top h1 {
    font-size: 74px;
    margin-bottom: 15px;
    text-shadow: 0 0 10px black;
}
.artist-top p {
    color: var(--main-white);
    font-size: 16px;
    text-shadow: 0 0 10px black;
}
.artist-popular-tracks {
    width: 100%;
    min-height: 600px;
    padding: 25px 20px;
    position: relative;
    background-color: var(--background-base);
}
.artist-popular-tracks-top {
    width: 100%;
    height: 232px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-image: linear-gradient(rgba(0,0,0,.6) 0, var(--background-base) 100%), url("../img/noise.png");
}
.artist-popular-tracks-inner, .artist-popular-tracks h2 {
    z-index: 2;
    position: relative;
}
.artist-popular-tracks-inner {
    height: 310px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.artist-popular-tracks-inner.showAll {
    height: auto;
}
.artist-popular-tracks-inner.show-ten-tracks {
    height: auto;
}
.track-number {
    width: 42px;
    text-align: center;
    padding-right: 8px;
}
.show-more-tracks {
    margin-top: 15px;
    font-weight: 600;
    cursor: default;
}
.show-more-tracks:hover {
    color: var(--main-white);
}

/* Track */
.track {
    width: 100%;
    min-height: 100%;
    display: none;
    position: relative;
    padding-bottom: 20px;
    background-color: var(--background-base);
}
.track.active {
    display: block;
}
.track-top {
    width: 100%;
    min-height: 350px;
    display: flex;
    flex-direction: row;
    align-items: end;
    padding: 20px;
    position: relative;
    z-index: 1;
    background: linear-gradient(transparent 0, rgba(0,0,0,.5) 100%), url("../img/noise.png");
}
.track-top-bottom {
    position: absolute;
    width: 100%;
    height: 350px;
    left: 0;
    top: 1px;
}
.track-top img {
    width: 190px;
    cursor: pointer;
}
.base-info {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
.base-info h1 {
    font-size: 54px;
    margin: 10px 0;
    word-break: break-all;
    max-height: 125px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: normal;
    text-shadow: 0 0 10px black;
}
.base-info p {
    color: var(--main-white);
    text-shadow: 0 0 10px black;
}
.info img {
    width: 24px!important;
    margin-right: 5px;
    border-radius: 50%;
}
.info {
    display: flex;
    align-items: center;
    color: var(--main-white);
}
.album-link {
    cursor: pointer;
}
.album-link:hover {
    text-decoration: underline;
}
.info .artist-link {
    font-weight: 600;
}
.track-lyrics-top {
    width: 100%;
    height: 223px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-image: linear-gradient(rgba(0,0,0,.6) 0, var(--background-base) 100%), url("../img/noise.png");
}
.track-lyrics {
    width: 100%;
    padding: 20px;
    position: relative;
    z-index: 1;
}
.track-lyrics h2 {
    margin-bottom: 10px;
}
.track-lyrics-inner {
    width: 100%;
}
.track-lyrics-inner p {
    font-size: 16px;
    padding: 2.5px 0;
}
.track-artist {
    width: 100%;
    margin-top: 20px;
    padding: 0 20px;
}
.track-artist-inner {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.track-artist-inner:hover {
    background-color: var(--darker-grey);
}
.track-artist-inner img {
    width: 80px;
    margin-right: 15px;
    border-radius: 50%;
}
.track-artist-inner p {
    color: var(--main-white)!important;
    font-weight: 600;
}
.track-artist-inner .artist-link {
    font-size: 16px;
    margin-top: 8px;
}

/* Album */
.album {
    width: 100%;
    min-height: 100%;
    display: none;
    position: relative;
    background-color: var(--background-base);
}
.album.active {
    display: block;
}
.album-top-bottom {
    position: absolute;
    left: 0;
    top: 0;
    height: 350px;
    width: 100%;
}
.album-top {
    width: 100%;
    min-height: 350px;
    display: flex;
    flex-direction: row;
    align-items: end;
    padding: 20px;
    position: relative;
    z-index: 1;
    background: linear-gradient(transparent 0, rgba(0,0,0,.5) 100%), url("../img/noise.png");
}
.album-top h1 {
    font-size: 54px;
    margin: 0 0 15px 0;
    text-shadow: 0 0 10px black;
}
.album-top p {
    text-shadow: 0 0 10px black;
}
.album-top img {
    width: 190px;
    cursor: pointer;
}
#album-duration {
    color: var(--light-grey)!important;
}
.album-tracks {
    width: 100%;
    padding: 20px;
    position: relative;
    z-index: 1;
}
.album-tracks .track-result {
    position: relative;
    z-index: 1;
}
.album-tracks-top-bottom {
    width: 100%;
    height: 223px;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(rgba(0,0,0,.6) 0, var(--background-base) 100%), url("../img/noise.png");
}
.album-tracks-top {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    position: relative;
    z-index: 1;
    border-bottom: 1px solid #b3b3b371;
    margin-bottom: 10px;
}
.album-tracks-top div {
    display: flex;
}

/* Footer */
.footer {
    width: 100%;
    padding: 25px 0;
    text-align: center;
    background-color: var(--background-base);
}
.footer a {
    color: var(--main-white);
    text-decoration: none;
}
.footer a:hover {
    text-decoration: underline;
}