@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --main-white: #f8f8f8;
  --main-grey: #dbd4e2;
  --main-light-purple: #6b5dc3;
  --main-purple: #454eae;
  --button-hover: #8072d6;
  --input-text: #a6a1ac;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: var(--main-grey);
}
body, html {
  width: 100%;
}

#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background-color: var(--main-light-purple);
}
#weather-app {
  width: 100%;
  max-width: 300px;
  height: 525px;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 25px 15px;
  margin-top: 30px;
  align-items: center;
  box-shadow: 5px 8px 10px rgba(0, 0, 0, 0.459);
  background-image: url("./assets/bg-purple.png");
}
.input-container {
  width: 100%;
  max-width: 255px;
  min-height: 35px;
  background-color: var(--main-white);
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 10px;
  border-radius: 10px;  
  outline: 2px solid var(--main-grey);
}
.input-container input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  color: var(--input-text);
  background-color: transparent;
}
.input-container input::placeholder {
  color: var(--main-grey);
}
.input-container button {
  border: none;
  border-radius: 10px;
  padding: 0 5px;
  font-size: 14px;
  cursor: pointer;
  color: var(--main-white);
  background-color: var(--main-light-purple);
}
.input-container button:hover {
  background-color: var(--button-hover);
}
#error-text {
  position: absolute;
  top: 80px;
  text-align: center;
  padding: 0 25px;
}
.weather-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}
.weather-info h1 {
  font-size: 45px;
}
.location {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
}
.location img {
  width: 25px;
}
#weather-type {
  font-size: 12px;
}
#weather-img {
  width: 200px;
}
.weather-more-info {
  display: flex;
  flex-direction: row;
  margin-top: 25px;
}
.weather-more-info img {
  width: 28px;
  margin-right: 5px;
}
.weather-more-info div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}
footer {
  position: absolute;
  bottom: 10px;
  font-size: 14px;
}